<h1>Convert <%= "#{@from_curr}" %></h1>
<p>Go <a href="/">back.</a></p>

<ul>
  <% @currencies.each do |to_curr, _| %>
    <li><a href=<%= "/" + "#{@from_curr}" + "/" + "#{to_curr}"%>>Convert <%= @from_curr %> to <%= to_curr %></a></li>
  <% end %>
</ul>
